/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                Font Weights                                */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                 Breakpoint                                 */
/* -------------------------------------------------------------------------- */
$bp-portrait: 480;
$bp-landscape: 768;
$bp-tablet: 970;
$bp-laptop: 1280;
$bp-desktop: 1420;
$bp-desktop-large: 1800;

/* -------------------------------------------------------------------------- */
/*                              Transition Speeds                             */
/* -------------------------------------------------------------------------- */
$s-fast: 125ms;
$s-medium: 325ms;

/* -------------------------------------------------------------------------- */
/*                                 Transitions                                */
/* -------------------------------------------------------------------------- */
$cubic: cubic-bezier(0.165, 0.84, 0.44, 1);