<div class="p-login">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Are you sure?</h2>
        <span class="form-error-message">{{ data }}</span>
        <h3>To confirm that you want to delete your account, type in your password below (<span>this cannot be undone</span>):</h3>
        <form id="" action="/remove" method="POST">
            <label for="removePassword">Password</label>
            <input class="no-error" type="password" name="removePassword" id="removePassword">
            <button>Remove account</button>
        </form>
        <a href="/profile"><button>Cancel</button></a>
    </div>
</div>