.p-profile {

    textarea {
        width: 98%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        resize: none;
        margin-bottom: 30px;
        padding:10px 5px;

        &:focus {
            border-bottom: 1px solid #F25C54;
            outline: 0;
            caret-color: #F25C54;
        }

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }
         
        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: rgb(242, 92, 84); 
        }

        &::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(242, 92, 84, 0.5);
        }
    }

    input, textarea {
        display: none;
    }

    p {
        display: block;
        margin-top: 10px;

        &:last-of-type {
            margin-bottom: 35px;
        }
    }

    label {
        border-bottom: 1px solid #F25C54;
    }

    .profile {
        &__avatar {
            background-position: center;
            background-size: cover;
            width: 150px;
            height: 150px;
            position: absolute;
            top: 30px;
            right: 30px;
            border-radius: 20px;
            display: block;

            &__label {
                display: none;
            }
        }

        &__edit {
            input, textarea {
                display: block;
            }

            p {
                display: none;
            }

            .profile__avatar {
                display: none;

                &__label {
                    display: inline-block;
                    margin-bottom: 10px;
                }
            }
        }

        &__button {
            display: block;

            &--hide {
                display: none;
            }
        }

        &__save {
            display: none;

            &--show {
                display: block;
            }
        }

        &__username {
            width: 160px;
        }
    }
}