.p-profile {

    textarea {
        width: 98%;
    }

    input, textarea {
        display: none;
    }

    p {
        display: block;
        margin-top: 10px;
    }

    label {
        border-bottom: 1px solid #F25C54;
    }

    .profile {
        &__edit {
            input, textarea {
                display: block;
            }

            p {
                display: none;
            }
        }

        &__button {
            display: block;

            &--hide {
                display: none;
            }
        }

        &__save {
            display: none;

            &--show {
                display: block;
            }
        }
    }
}