<div class="p-login">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Log In</h2>
        <form id="login_form" action="" method="POST">
            <label for="loginEmail">E-mail adress</label>
            <input class="no-error" type="text" name="loginEmail" id="loginEmail" placeholder="E-mail adress">
            <span class="no-error-message"></span>
            <label for="loginPassword">Password</label>
            <input class="no-error" type="password" name="loginPassword" id="loginPassword" placeholder="Password">
            <span class="no-error-message"></span>
            <button form="login_form" type="submit" class="">
                Log In
            </button>
            <h3>Don't have an account yet? <span>Sign Up here:</span></h3>
            <button type="button" class="sign-up-button">
                Sign Up
            </button>
        </form>
    </div>
    <div class="sign-up__card sign-up__card--no-js">
        <h2>Sign Up</h2>
        <span class="sign-up__card__close">x</span>
        <form id="sign-up_form" action="/signup" method="POST">
            <span id="form-error-message" class="no-error-message">Please check if you have (correctly) filled in all fields.</span>
            <label for="signupUser">Username <span>*</span></label>
            <input class="no-error" type="text" name="signupUser" id="signupUser" placeholder="Username">
            <span class="no-error-message"></span>
            <label for="signupEmail">E-mail adress <span>*</span></label>
            <input class="no-error" type="text" name="signupEmail" id="signupEmail" placeholder="E-mail adress">
            <span class="no-error-message"></span>
            <label for="signupPassword">Password <span>*</span></label>
            <input class="no-error" type="password" name="signupPassword" id="signupPassword"
                placeholder="Password">
            <span class="no-error-message"></span>
            <label for="signupPasswordRepeat">Repeat password <span>*</span></label>
            <input class="no-error" type="password" name="signupPasswordRepeat" id="signupPasswordRepeat"
                placeholder="Repeat password">
            <span class="no-error-message"></span>
            <button form="sign-up_form" type="submit" value="submit">
                Sign Up
            </button>
        </form>
    </div>

</div>

<script src="script.js"></script>