<div class="p-login">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Welcome, {{ data.signupUser }}!</h2>
        <h3>Your account has been created, please verify your e-mail adress by clicking on the link in the e-mail that
            you have received.</h3>
    </div>
</div>