<div class="p-login">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Welcome, {{ data.signupUser }}!</h2>
        <h3>Your account has been created, you can now log in using the button below:</h3>
        <a href="/login"><button>Log In</button></a>
    </div>
</div>